@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot');
    src: local('☺'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.eot');
	src: local('☺'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: #b0b0b0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c25d5d;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #b0b0b0;
}


body,
html {
    width: 100%;
    height: 100%;
    position: relative;
    color: #2b2b2b;
    font-family: Montserrat-Light, Arial, sans-serif;
}

/* ------------------ */
/* preloader */
.preloader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
}

.preloader-hiden {
    opacity: 0;
}

.preloader div {
    position: fixed;
    background: #c42b2b;
    border-radius: 50%;
}

.preloader__ball--frst {
    -webkit-animation: preloaderBounse 1.5s ease-in-out infinite;
    -o-animation: preloaderBounse 1.5s ease-in-out infinite;
    animation: preloaderBounse 1.5s ease-in-out infinite;
    width: 400px;
    height: 400px;
    opacity: .40;
    animation-delay: 0.4s;
}
.preloader__ball--scnd {
    -webkit-animation: preloaderBounse 1.5s ease-in-out infinite;
    -o-animation: preloaderBounse 1.5s ease-in-out infinite;
    animation: preloaderBounse 1.5s ease-in-out infinite;
    width: 300px;
    height: 300px;
    opacity: .70;
    animation-delay: 0.2s;
}
.preloader__ball--thrd {
    -webkit-animation: preloaderBounse 1.5s ease-in-out infinite;
    -o-animation: preloaderBounse 1.5s ease-in-out infinite;
    animation: preloaderBounse 1.5s ease-in-out infinite;
    width: 200px;
    height: 200px;
    opacity: 1;
    animation-delay: 0;
}

@keyframes preloaderBounse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1)
    }
}
/* ----------------- */

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    background: rgb(255,255,255);
    border-bottom: 2px solid #b0b0b0;
}

/*---------------------*/
/* menu btn */
.menu-btn {
    background: #fff;
    border: 2px solid #c42b2b;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50%;
    position: relative;
    float: right;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px;
    background-color: #2b2b2b;
    display: block;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    transition: 0.1s;
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn_active span {
    height: 0;
}

.menu-btn_active span::after {
    transform: rotate(45deg)
}

.menu-btn_active span::before {
    transform: rotate(-45deg)
}
/* ------------------- */

/* ------------------- */
/* fill */
.fill {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .2s;
}

.fill--active {
    opacity: 1;
    left: 0;
}
/* ------------------- */

/* ------------------- */
/* menu */
.menu {
    background: #fff;
    z-index: 6;
    width: 410px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all .3s;
    overflow-y: scroll;
    padding: 50px 0;
}

.menu::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c25d5d;
}

.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #f9f9fd;
}

.menu--show {
    left: 0;
    transition: all .3s;
}

.menu_title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    font-weight: 900;
}

.menu_item {
    display: block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    width: calc(100% - 60px);
    margin: 5px 30px;
}

.menu_item--active{
    color: #c42b2b;
}

.menu_underline {
    width: calc(100% - 40px);
    height: 1px;
    margin: auto;
    background: #2b2b2b;
}
/* ------------------- */

/* ------------------- */
/* main content */
main {
    width: 70%;
    min-height: 100%;
    margin: auto;
    padding-bottom: 100px;
}

.title {
    width: 100%;
    height: 400px;
    font-size: 50px;
    padding-top: 100px;
    font-weight: bold;
    text-align: center;
    font-family: Roboto-Black, Arial, sans-serif;
}

.paragraph {
    width: 100%;
    margin: 0 0 20px;
}

.paragraph__subtitle {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: Roboto-Black, Arial, sans-serif;
    word-spacing: 5px;
}

.paragraph__text-block__thrd-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #4d4d4d;
    padding: 0 20px;
    margin: 10px 0;
    font-family: Roboto-Black, Arial, sans-serif;
    word-spacing: 5px;
}

.paragraph__text-block {
    width: 100%;
}

.paragraph__text-block * {
    display: inline-block;
}

.paragraph__text-block__text {
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
}

.paragraph__text-block__img {
    width: 40%;
}

.paragraph__text-block__img--r {
    float: right;
    margin: 0 0 5px 30px;
}

.paragraph__text-block__img--l {
    float: left;
    margin: 0 30px 5px 0;
}

.paragraph__text-block__img img {
    width: 100%;
    margin-top: 5px;
}

.paragraph__text-block__img span {
    display: inline-block;
    width: 100%;
    margin: 5px 10px 0px;
    font-size: 14px;
}

.paragraph__text-block__list {
    
}

.paragraph__text-block__list li {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 22px;
}

.list__mark {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 7px 7px;
    background: #c42b2b;
    border-radius: 50%;
    float: left;
}

.paragraph__text-block__list p {
    width: calc(100% - 22px);
}


/* ------------------- */
/* slider */
.paragraph__text-block__slider {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.slider__content {
    position: relative;
    width: 100%;
    height: 95%;
}

.slider__content__element {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.slider__content__img {
    height: 95%;
    margin: auto;
    display: block;
}

.slider__content__transport-name {
    height: 5%;
    width: 100%;
    text-align: center;
}

.slider__management {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.slider__management__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.slider__management__btn:hover {
    cursor: pointer;
}

.slider__management__dots {
    align-self: center;
    margin: 0 20px;
}

.slider__management__dots__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background: #858585;
}

.slider__management__dots__dot--active {
    background: #c42b2b;
}


/* color: #4d4d4d; */
/* color: #c42b2b; */