* {
    font-family: sans-serif, "Arial";
    font-size: 20px;
}
button:hover{cursor: pointer}

.settings {
    height: 30px;
}

.settings button {
    background: none;
    border: none;
}

.st-block {
    display: inline-block;
    margin: 0 20px;
}

.st-block input {
    width: 40px;
}

.btns {
    height: 100%;
}

.btns button {
    height: 90%;
    margin: 5% 10px;
    border: solid 1px #7f7f7f;
    border-radius: 5px;
}

/* -------------------------- */
#matrix {
    margin: 50px;
}

#matrix .str {
    margin: 0;
    height: 20px;
}

#matrix .str .element {
    margin: 0;
    display: inline-block;
    height: 100%;
}

#matrix .str .element input {
    font-size: 12px;
    width: 20px;
    margin: 0;
    padding: 0;
}