@font-face {
    font-family: 'Roboto-L';
    src: url('../fonts/Roboto-Light.eot');
    src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-M';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto-L, Arial, sans-serif;
}


/* HEADER */
.header {
    width: 100%;
    height: 70px;
    background: #085b96;
}

.logo {
    height: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 70%;
    margin-right: 10px;
}

.logo .titles {
    display: inline-block;
    height: 50%;
    color: #fff;
}

.logo .titles p {
    height: 50%;
    display: flex;
    align-items: center;
}

.logo .titles .title {
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto-M, Arial, sans-serif;
    letter-spacing: 2px;
}

.logo .titles .subtitle {
    font-size: 12px;
}

/* ---------- */

/* MODAL WINDOW */
.settings-window {
    z-index: 10;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s;
}

.settings-window-active {
    left: 0;
    opacity: 1
}

.settings {
    width: 500px;
    padding: 0 0 30px;
    background: #fff;
    border-radius: 15px;
}

.settings-title {
    width: 100%;
    height: 50px;
    position: relative;
}

.settings-title .title {
    height: 100%;
    line-height: 50px;
    padding: 0 10px;
    font-family: Roboto-M, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #2e2e2e;
    letter-spacing: 1px;
    text-align: center;
}

#close-settins-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2597ea;
    border-radius: 50%;
    transition: .3s;
}

#close-settins-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

#close-settins-btn:active {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    transition: .1s;
    transform: scale(0.95);
}

#close-settins-btn span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    right: 50%;
    margin-right: -10px;
    background: #666;
}

#close-settins-btn span:first-child {
    transform: rotate(45deg)
}

#close-settins-btn span:last-child {
    transform: rotate(-45deg)
}

.settings-content {
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 70px);
}

.class-choice {
    width: 100%;
    margin-bottom: 30px;
}

.class-choice p {
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}

.class-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.class-list-el {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2597ea;
    border-radius: 5px;
    background: none;
    transition: .3s;
}

.class-list-el:hover {
    transform: scale(1.05)
}

.class-list-el-active {
    background: #2597ea;
    color: #fff;
}

.lesson-choice {
    width: 100%;
    height: calc(100% - 100px);
}

.lesson-choice p {
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}

.lessons-list {
    width: 80%;
    height: 40px;
    display: block;
    margin: auto;
    padding: 0 10px;
    border: 2px solid #a8a8a8;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.sortBtn-container {
    width: 100%;
    height: 40px;
}

#sortTestList-btn {
    display: block;
    margin: auto;
    height: 100%;
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    background: #2597ea;
    font-family: Roboto-M, Arial, sans-serif;
    border-radius: 5px;
    transition: .3s;
}

#sortTestList-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

#sortTestList-btn:active {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    transition: .15s;
    transform: scale(0.97);
}

/* ---------- */

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 70px);
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 90%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    position: relative;
}

.settings-btn {
    margin: 12px 20px 12px auto;
    width: 191px;
    height: 36px;
    border: 2px solid #2597ea;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: .3s;
    font-size: 18px;
}

.settings-btn span {
    margin-right: 10px;
}

.settings-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.settings-btn:active {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    transition: .1s;
    transform: scale(0.97);
}

.tests-list {
    bottom: -60px;
    overflow-y: scroll;
    width: 95%;
    height: calc(100% - 70px);
    margin: auto;
    border: 1px solid #8a8a8a;
}

.list-elem {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #8a8a8a;
    transition: .1s;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-elem:last-child {
    border: none;
}

.list-elem:hover {
    background: #ebebeb;
}

.list-elem .lesson-name {
    font-family: Roboto-M, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2e2e2e;
    letter-spacing: 1px;
}

.list-elem .about-lesson {
    color: #4d4d4d;
    font-size: 14px;
}

@media(max-width: 500px) {
    .logo {
        margin-left: 10px;
    }

    .container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .settings-btn {
        margin: 12px auto;
    }

    .list-elem .lesson-name {
        font-size: 14px;
    }

    .settings {
        width: 100%;
        height: 100%;
        padding: 0;
        background: #fff;
        border-radius: 0;
    }
}

/* #2597ea */
