.capabilities {
    background: url(../bg/bg_capabilities.jpg) center/cover no-repeat;
    text-align: center;
}

.capabilities-content {
    padding: 5.5%;
}

.capabilities-content-block {
    width: 15%;
    height: 7.5%;
    display: inline-block;
    margin: 0 2.5% 0 2.5%;
}

.capabilities-title {
    font-size: 18px;
    font-weight: 600;
    color: #cf7600;
    margin-bottom: 10%;
}

.capabilities-p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #3f495a;
}

.capabilities-ico {
    margin: 0 0 50px 0;
    position: static;
}