.capabilities {
    background: url(../bg/bg_capabilities.jpg) center/cover no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
}

.capabilities-content {
    padding: 5.5%;
}

.cpabilities-options {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.capabilities-content-block {
    margin: 0 4.5% 0 4.5%;
    width: 15%;
    height: 300px;
    float: left;
}

.capabilities-title {
    font-size: 18px;
    font-weight: 600;
    color: #cf7600;
    margin-bottom: 10%;
}

.capabilities-p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #3f495a;
}

.capabilities-ico {
    margin: 0 0 50px 0;
}

/*адаптив*/

.capabilities-phone {
    display: none;
}

.capabilities-block {
    width: 100%;
}

.capabilities-block-phone {
    width: 50%;
    margin: 10px 0 10px 0;
}

.capabilities-ico-phone {
    margin: 5% 0 5% 0;
}

@media (max-width: 800px) {
    .cpabilities-options {
        display: none;
    }
    
    .capabilities-phone {
        display: inherit;
    }
}