.cases {
    background-color: #fcfdfd;
    text-align: center;
    padding: 5.5%;
}

.cases-content {
}

.cases-content > p {
    font-size: 16px;
    font-weight: 400;
    color: #3f495a;
    margin-bottom: 2%;
}

.case {
    width: 60%;
    margin: auto;
}

.case-img {
    width: 100%;
}

.cases-client {
    padding-top: 2%;
}

.about-client {
    width: 30%;
    margin: 0 5% 0 0;
    color: #384354;
    text-align: left;
    float: left;
}

.about-client h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.about-client p {
    font-size: 16px;
    font-weight: 400;
    color: #3f495a;
    margin-bottom: 10%;
}

.btn-visit-site {
    width: 100%;
    padding: 10px 7px 10px 7px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}

.about-project {
    width: 65%;
    text-align: left;
}

.about-project h4 {
    font-size: 25px;
    font-weight: bold;
    color: #384354;
    margin-bottom: 6px;
}

.about-project p {
    font-size: 20px;
    font-weight: 400;
    color: #3f495a;
}