.cases {
    background-color: #fcfdfd;
    text-align: center;
    padding: 5.5%;
}

.cases-content {
}

.cases-content > p {
    font-size: 16px;
    font-weight: 400;
    color: #3f495a;
    margin-bottom: 2%;
}

.case {
    width: 60%;
    margin: auto;
}

.case-img {
    width: 100%;
}

.cases-client {
    padding-top: 2%;
}

.about-client {
    width: 30%;
    margin: 0 5% 0 0;
    color: #384354;
    text-align: left;
    float: left;
}

.about-client h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.about-client p {
    font-size: 16px;
    font-weight: 400;
    color: #3f495a;
    margin-bottom: 10%;
}

.btn-visit-site {
    width: 100%;
    padding: 10px 7px 10px 7px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

.btn-visit-site:hover {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3)
}

.about-project {
    width: 65%;
    text-align: left;
}

.about-project h4 {
    font-size: 25px;
    font-weight: bold;
    color: #384354;
    margin-bottom: 6px;
}

.about-project p {
    font-size: 20px;
    font-weight: 400;
    color: #3f495a;
}

/*адаптив*/

.case-phone {
    display: none;
}

.case-img-phone {
    width: 100%;
}

.about-client-phone {
    display: flex;
    justify-content: space-around;
}

.about-client-phone h3{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.about-client-phone p{    
    font-size: 20px;
    font-weight: 400;
    color: #3f495a;
    margin-bottom: 10%;
}

.btn-visit-site-phone {
    width: 50%;
    height: 60px;
    padding: 10px 7px 10px 7px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

@media (max-width: 576px) {
    .about-client-phone p {
        font-size: 16px;
    }
    
    .cases-content > p {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .case {
        display: none;
    }
    
    .case-phone {
        display: inherit;
    }
    
    .cases-content > p {
        font-size: 20px;
    }
}