.cost-calculation {
    padding: 10%;
    text-align: center;
}

.cost-calculation h2 {
    font-size: 45px;
    font-weight: bold;
    color: #1c2534;
    margin-bottom: 3%;
}

.cost-calculation h3 {
    font-size: 29px;
    font-weight: bold;
    color: #1c2534;
    margin-bottom: 1%;
}

.cost-calculation-payment {
    width: 47%;
    margin: auto;
    text-align: left;
    border-bottom: solid 1px #d1d1d1;
}

.cost-calculation-content select {
    width: 100%;
    margin: 1% 0 3% 0;
    padding: 2%;
    font-size: 16px;
    font-weight: 500;
    color: #737373;
    background-color: #eeeeee;
    border-radius: 5px;
}

.price {
    width: 100%;
    color: #262e3d;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 3%;
}

.price p {
    margin-bottom: 3%;
}

.price span{
    float: right;
}

/*адаптив*/

@media (max-width: 800px) {
    .type-site {
        margin: 20px 0 20px 0;
    }
    
    .design {
        margin: 20px 0 20px 0;
    }
    
    .adaptability {
        margin: 20px 0 20px 0;
    }
    
    .price {
        margin-bottom: 30px;
    }
    
    .cost-calculation-payment > div > select {
        height: 50px;
        font-size: 20px;
    }
}