@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}


html {
    width: 100%;
    min-height: 100%;
    padding: 0;
    color: #515151;
}

body {
    font-family: 'OpenSans-Light', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3290c7;
}

body p {
    margin-bottom: 1.5em;
    font-size: 12pt;
    line-height: 1.6;
}

main {
    width: 70%;
    margin: auto;
}

.content {
    padding: 20px;
    text-align: left;
}

.blog-paragraph {
    width: 100%;
}

.blog-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

#title {
    max-width: 100%;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: bold;
    font-size: 34pt;
    margin: 50px auto 30px;
}

#introductionImg {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#introduction-text {
    text-align: left;
}

#date {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    #title {
        font-size: 30pt;
    }
    .blog-title {
        font-size: 16pt;   
    }
    body p {
        font-size: 14pt;
    }
    main {
        width: 90%;
    }
}