@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/ralewaymedium.eot');
    src: local('☺'), url('../fonts/ralewaymedium.woff') format('woff'), url('../fonts/ralewaymedium.ttf') format('truetype'), url('../fonts/ralewaymedium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/ralewaysemibold.eot');
    src: local('☺'), url('../fonts/ralewaysemibold.woff') format('woff'), url('../fonts/ralewaysemibold.ttf') format('truetype'), url('../fonts/ralewaysemibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: local('☺'), url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-size: 12px;
    height: 100%;
    overflow: visible;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.active {
    color: #e31b6d;
}

.sect-title {
    color: #444649;
    font-size: 30pt;
    font-family: 'raleway-medium ', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 100px 0;
}

.sect-title p {
    color: #444649;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-animation: showTitle 0.5s;
    -o-animation: showTitle 0.5s;
    animation: showTitle 0.5s;
}

.underline {
    position: relative;
    height: 4px;
    width: 70px;
    background-color: #444649;
    margin: auto;
    margin-top: 10px;
    -webkit-animation: showUnderline 0.5s;
    -o-animation: showUnderline 0.5s;
    animation: showUnderline 0.5s;
}

.inline {
    display: inline-block;
}

.fs-16px {
    font-size: 12pt;
}

.btn-active {
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.btn-active:active {
    transform: scale(1.05);
}

.raleway-medium {
    font-family: 'raleway-medium', sans-serif;
}

.raleway-semibold {
    font-family: 'raleway-semibold', sans-serif;
}

/* ------------------------------- */
/* sidebar menu */

.fill {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 150%;
    z-index: 11;
    background-color: rgba(0, 0, 0, .2);
    display: none;
    opacity: 0;
    transition: all 3s;
}

.fill-active {
    display: block;
    left: 0;
    opacity: 1;
    -webkit-animation: showFill .5s;
    -o-animation: showFill .5s;
    animation: showFill .5s;
}

@keyframes showFill{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sidebar-menu {
    height: 150%;
    position: fixed;
    z-index: 12;
    background-color: #1b242f;
    padding: 40px;
    top: 0;
    left: -100%;
    transition: all 0.3s;
}

.sidebar-menu-show {
    left: 0%;
    transition: all 0.3s;
}

.sidebar-title {
    color: #fff;
    font-size: 20pt;
}

.sidebar-menu_item {
    width: 100%;
    height: 40px;
    padding: 5px 0 4px 0;
    color: #fff;
}

.sidebar-menu_item-bt {
    border-top: 1px solid #eee;
}

.sidebar-menu_link {
    font-size: 16pt;
    line-height: 22px;
}

/* menu btn */

.menu-btn {
    background: none;
    border: 2px solid #f91f78;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50px;
    position: relative;
    top: 5px;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px;
    background-color: #04c2c9;
    display: block;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    transition: 0.1s;
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn_active span {
    height: 0;
}

.menu-btn_active span::after {
    transform: rotate(45deg)
}

.menu-btn_active span::before {
    transform: rotate(-45deg)
}


/*----------------------------------------*/
/* home */


.home {
    width: 100%;
    height: 100%;
    background-color: #252934;
    color: #fff;
    position: relative;
    line-height: 48px;
}

.home-container {
    text-align: center;
}

.title {
    font-size: 32pt;
    font-weight: 100;
}

.my-name {
    color: #e31b6d;
    font-weight: 700;
}

.home-btn {
    background: none;
    color: #fff;
    font-size: 16pt;
    margin-top: 30px;
    padding: 12px 30px 12px 40px;
    line-height: normal;
    text-align: center;
    border: 3px solid #fff;
    transition: all 0.3s;
}

.home-btn i {
    margin-left: 10px;
    font-size: 12pt;
    transition: all 0.3s;
}

nav {
    z-index: 10;
    position: relative;
    top: 100%;
    height: 50px;
    width: 100%;
    background-color: #1b242f;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid #04c2c9;
}

.menu {
    height: 50px;
    display: flex;
    align-items: center;
}

nav ul li {
    color: #fff;
    display: inline-block;
    margin: 0 20px;
    line-height: 50px;
    font-size: 13pt;
    font-weight: 400;
    transition: all 0.5s;
}

nav ul li:hover {
    color: #e31b6d;
}

.nav-top {
    position: fixed;
    top: 0px;
}

@media (min-width: 992px) {
    .home-btn:hover {
        background-color: #04c2c9;
        border-color: #04c2c9;
    }

    .home-btn:hover i {
        transform: rotate(90deg);
    }
}

@media (max-width: 991px) {
    .home-btn i {
        transform: rotate(90deg);
    }

    nav {
        top: 0;
        left: 0;
        position: fixed;
        height: 61px;
    }
}


/* ----------------------------------- */
/* about */

.about {
    padding-top: 50px;
    width: 100%;
    background: #fff;
    padding-bottom: 100px;
}

.advantages-conteiner {
    margin-left: auto;
    margin-right: auto;
}

.advantage-conteiner {
    position: relative;
    height: 230px;
    text-align: center;
    margin-bottom: 30px;
}

.advantages-conteiner-ico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #04c2c9;
    font-size: 50px;
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
}

.about-container div div p {
    margin: 10px 0;
    color: #616161;
}

.about-container .fs-2 {
    color: #616161;
    font-weight: bold;
}

.about-skills {
    margin-top: 100px;
}

.about-me {
    text-align: center;
}

.about-me img {
    width: 300px;
}

.about-me p {
    margin: 10px 0 0 0;
}

.about-me a {
    color: #04c2c9;
}

.about-my-skills li {
    height: 30px;
    width: 100%;
    background-color: #eeeeee;
    margin-top: 15px;
}

.about-my-skills ul li p {
    font-size: 12pt;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.skill-title {
    width: 25%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #0e969b;
    float: left;
}

.skill-progress {
    width: 75%;
    height: 30px;
    float: left;
    position: relative;
    line-height: 30px;
}

.skill-progress-bar {
    height: 30px;
    width: 0%;
    background-color: #00a1a7;
    float: left;
    position: absolute;
    z-index: 1;
}

.skill-value-container {
    width: 100%;
    height: 30px;
    z-index: 2;
    position: absolute;
}

.skill-value-container span {
    float: right;
    height: 30px;
    margin-right: 2%;
    font-size: 10pt;
    color: #666;
}

@media (max-width: 991px) {
    .about-my-skills ul li p {
        font-size: 10pt;
    }

    .skill-title {
        width: 30%;
    }

    .skill-progress {
        width: 70%;
    }
}


/* ------------------------------------ */
/* cases */

.cases {
    width: 100%;
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 100px;
}

.case-modal-wrap {
    position: fixed;
    width: 100%;
    height: inherit;
    display: flex;
    left: -100%;
    justify-content: center;
    align-items: center;
    z-index: 15;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: opacity 0.5s;
}

.case-modal {
    background-color: #fff;
    height: 100%;
}

.case-modal-active {
    left: 0;
    opacity: 1;
}

.case-modal-slider {
    position: relative;
    width: 100%;
    background-color: #eee;
    display: block;
}

#modal-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

#left-arrow {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, .2);
    color: #eee;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
}

#left-arrow i {
    position: relative;
    left: -3px;
}

#right-arrow {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, .2);
    color: #eee;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
}

#right-arrow i {
    position: relative;
    left: 3px;
}

.case-modal-content {
    width: 100%;
    height: 30%;
    padding: 20px;
    color: #616161;
    font-size: 12pt;
}

.about-order {
    width: 35%;
    float: left;
    max-height: 40%
}

.about-order-cont {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.about-order-cont p {
    margin: 0;
}

.about-project {
    width: 60%;
    float: left;
    max-height: 100%;
    overflow: auto;
}

.modal-title {
    font-size: 16pt;
    color: #4d4d4d;
    font-weight: 600;
}

#client {
    color: #1ba4a4;
}

.case-modal-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#case-link1 {
    width: 80%;
    height: 40px;
    border: 3px solid #e31b6d;
    background: none;
    color: #1b242f;
    font-size: 12pt;
    font-weight: 700;
    overflow: hidden;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#case-link2 {
    margin-right: auto;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    border: 3px solid #e31b6d;
    background: none;
    color: #1b242f;
    font-size: 12pt;
    font-weight: 700;
    overflow: hidden;
    transition: all .5s;
    display: none;
    justify-content: center;
    align-items: center;
}

#close-btn {
    margin-left: auto;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border: 3px solid #f00;
    background: none;
    color: #1b242f;
    font-size: 12pt;
    font-weight: 700;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
}

@media (min-width: 992px) {
    #close-btn:hover {
        background: #f00;
        color: #fff;
    }

    #case-link1:hover {
        background-color: #e31b6d;
        color: #fff;
    }
    
    #case-link2:hover {
        background-color: #e31b6d;
        color: #fff;
    }
}

@media (max-width: 767px) {
    .case-modal {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 568px) {
    .about-order {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .about-project {
        height: 70%;
        width: 100%;
    }

    .case-modal-content {
        height: 50%;
    }

    .about-order-cont {
        float: left;
        height: 100%;
        display: inline-block;
    }
}

@media (max-width: 500px) {
    #case-link1 {
        display: none;
    }
    #case-link2 {
        display: flex;
    }
}


.cases-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
}

.counter {
    width: 40px;
    height: 25px;
    background-color: rgba(0, 0, 0, .2);
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    color: #eee;
    text-align: center;
}

.counter p {
    letter-spacing: 3px;
    font-size: 12pt;
    margin: 0;
    line-height: 25px;
    font-weight: 500;
}

.cases-btn {
    width: 150px;
    height: 50px;
    position: relative;
    padding: 0;
    box-shadow: none;
    border: none;
    background: none;
}

.case-btn-active {
    background-color: #e31b6d;
    color: #fff;
}

.case-btn-title {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.case-btn-title p {
    line-height: 50px;
}

.case-btn-fill {
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #e5e3e3;
    transition: all 0.3s;
    position: absolute;
}

.cases-container {
    width: 900px;
    padding: 0;
}

#cases {
    width: 100%;
    padding: 0;
    line-height: 0;
    margin-left: auto;
    margin: auto;
}

.case {
    line-height: 1.5;
    width: 300px;
    height: 250px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.case-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #eee;
    text-align: center;
    transition: all .5s;
    font-family: 'raleway-medium', sans-serif;
}

.case-info {
    width: 100%;
    height: 80px;
    margin: 0 0 130px 0;
    opacity: 0;
    transition: all .5s;
}

.case-title {
    font-size: 16pt;
    color: #1b242f;
    font-family: 'raleway-semibold', sans-serif;
}

.case-type {
    line-height: 18pt;
    font-size: 12pt;
    font-weight: 100;
    color: #e31b6d;
}

.case-btn-link {
    display: inline-block;
    margin: 0;
    width: 150px;
    height: 40px;
    transition: all .5s;
}

.case-btn {
    margin: 0;
    width: 150px;
    height: 40px;
    border: 2px solid #e31b6d;
    background: none;
    color: #1b242f;
    opacity: 0;
    transition: all .5s;
}

.cases-btn:hover .case-btn-fill {
    height: 100%;
}

.case-btn-active:hover .case-btn-fill {
    height: 0;
}

.case-btn:hover {
    background: #e31b6d;
    color: #fff;
}

.case:hover .case-fill {
    opacity: 1;
}

.case:hover .case-info {
    opacity: 1;
    margin: 50px 0 10px 0;
}

.case:hover .case-btn {
    opacity: 1;
    display: inline-block;
}


@media (max-width: 899px) {
    #cases {
        width: 600px;
    }
}

@media (max-width: 599px) {
    #cases {
        width: 100%;
    }

    .cases {
        padding-bottom: 0;
    }

    .case {
        width: 100%;
    }
}

/* ------------------------------------- */
/* blog */

.blog {
    padding-top: 50px;
    padding-bottom: 100px;
}

#blogs {
    padding: 0;
}

.blog-block {
    width: 23%;
    height: 450px;
    margin-left: 1.5%;
    background-color: #fff;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}

.blog-block-fill {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.blog-block-content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 11pt;
    line-height: 15pt;
    color: #444649;
}

.blog-block-img {
    margin-bottom: 10px;
    height: 175px;
    width: 100%;
    object-fit: cover;
}

.blog-block-title {
    color: #444649;
    font-size: 16pt;
    font-weight: 600;
    font-family: 'raleway-semibold', sans-serif;
    transition: all 0.3s;
    height: 50px;
    width: 94%;
    margin-left: 3%;
}

.blog-block-date {
    color: #444649;
    font-size: 8.5pt;
    font-family: 'open-sans';
    margin-bottom: 15px;
    width: 94%;
    margin-left: 3%;
}

.blog-block-underline {
    background-color: #04c2c9;
    width: 80px;
    height: 3px;
    margin-bottom: 15px;
    margin-left: 3%;
}

.blog-block-disc {
    font-size: 12pt;
    color: #444649;
    width: 94%;
    margin-left: 3%;
}



@media (min-width: 992px) {
    .blog-block:hover {
        box-shadow: 8px 5px 5px rgba(0, 0, 0, .3);
        transform: scale(1.02);
    }

    .blog-block:hover .blog-block-title {
        color: #04c2c9;
    }
}

@media (max-width: 991px) {
    .blog-block {
        width: 50%;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .blog-block {
        width: 90%;
        text-align: left;
    }

    #blogs {
        text-align: center;
    }
}

/* ----------------------------------- */
/* contact */

.contact {
    background-color: #252934;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}

.contact-information {
    width: 100%;
    margin: 5px 0 20px;
}

.contact-information span {
    color: #fff;
    font-size: 12pt;
    margin: 0 15px;
}

.contact .sect-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact .sect-title p {
    color: #fff;
    margin-bottom: 15px;
}

.contact .sect-title .underline {
    background-color: #fff;
}

.contact .p {
    color: #04c2c9;
    font-weight: 600;
    font-size: 12pt;
    margin: 10px 0 20px 0;
}

.contact form {
    height: 270px;
    font-size: 12pt;
    margin: auto;
}

.contact-input-text {
    width: 100%;
    margin-bottom: 3px;
    background-color: #1e242c;
    border: none;
    color: #fff;
    padding: 5px 5px 5px 10px;
}

.contact form textarea {
    width: 100%;
    background-color: #1e242c;
    border: none;
    color: #fff;
    padding: 5px 5px 5px 10px;
}

.contact-submit {
    float: right;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    padding: 0;
    color: #fff;
    font-size: 14pt;
    font-weight: 600;
    background: none;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.contact-submit:hover {
    background: #04c2c9;
    border: 3px solid #04c2c9;
}


/* ----------------------------- */
/* footer */

footer {
    position: relative;
    background-color: #1b242f;
    padding-bottom: 50px;
    text-align: center;
}

footer .go-top {
    position: absolute;
    top: -25px;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 0;
    background-color: #f91f78;
}

footer .go-top i {
    position: relative;
}

footer .go-top:hover i {
    animation-direction: reverse;
    -webkit-animation: socNetHoverRev 0.5s;
    -o-animation: socNetHoverRev .5s;
    animation: socNetHoverRev .5s;
}

.social-networks {
    width: auto;
    text-align: center;
    margin: 80px auto 20px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.social-network {
    width: 50px;
    height: 50px;
    background-color: #262f38;
    font-size: 30px;
    display: inline-block;
    transition: all 0.3s;
    margin: 0 10px;
}

.social-network i {
    position: relative;
    color: #fff;
}

.social-network:hover i {
    -webkit-animation: socNetHover 0.5s;
    -o-animation: socNetHover .5s;
    animation: socNetHover .5s;
}

.social-network:hover {
    background-color: #04c2c9;
}

/*--------------------*/
/* animations*/

/* анимируемые элементы */
.p {
    position: relative;
    -webkit-animation: showTitle 0.5s;
    -o-animation: showTitle 0.5s;
    animation: showTitle 0.5s;
}

.ac-1 {
    -webkit-animation: advantageContainerMove1 1s;
    -o-animation: advantageContainerMove1 1s;
    animation: advantageContainerMove1 1s;
}

.ac-2 {
    -webkit-animation: advantageContainerMove2 1s;
    -o-animation: advantageContainerMove2 1s;
    animation: advantageContainerMove2 1s;
}

.ac-3 {
    -webkit-animation: advantageContainerMove3 1s;
    -o-animation: advantageContainerMove3 1s;
    animation: advantageContainerMove3 1s;
}

.ac-4 {
    -webkit-animation: advantageContainerMove4 1s;
    -o-animation: advantageContainerMove4 1s;
    animation: advantageContainerMove4 1s;
}

#cases {
    position: relative;
    -webkit-animation: showCases 1.5s;
    -o-animation: showCases 1.5s;
    animation: showCases 1.5s;
}

.about-my-skills {
    position: relative;
    -webkit-animation: aboutMySkillsMove 1.3s;
    -o-animation: aboutMySkillsMove 1.3s;
    animation: aboutMySkillsMove 1.3s;
}

.about-me {
    position: relative;
    -webkit-animation: aboutMeMove 1.3s;
    -o-animation: aboutMeMove 1.3s;
    animation: aboutMeMove 1.3s;
}

.contact form {
    position: relative;
    -webkit-animation: formShow 2s;
    -o-animation: formShow 2s;
    animation: formShow 2s;
}

/* анимации для больших экранов */
@media (min-width: 992px) {

    /* появление формы */
    @keyframes formShow {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(0);
        }

        90% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    /* плавное пояление заловка и линии под ним */
    @keyframes showTitle {
        0% {
            opacity: 0;
            left: -50%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes showUnderline {
        0% {
            opacity: 0;
            left: -50%;
        }

        25% {
            opacity: 0;
            left: -50%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes socNetHover {

        0,
        100% {
            top: 0;
            opacity: 1;
        }

        25% {
            opacity: .75;
        }

        49% {
            top: 10px;
        }

        50% {
            opacity: 0;
            top: -10px;
        }

        75% {
            opacity: .75;
        }
    }

    @keyframes socNetHoverRev {

        0,
        100% {
            top: 0;
            opacity: 1;
        }

        25% {
            opacity: .75;
        }

        49% {
            top: -10px;
        }

        50% {
            opacity: 0;
            top: 10px;
        }

        75% {
            opacity: .75;
        }
    }

    /* появление блоков если их не больше 4 */
    @keyframes advantageContainerMove1 {
        0% {
            opacity: 0;
            top: 150px;
        }

        40% {
            opacity: 1;
            top: 0;
        }
    }

    @keyframes advantageContainerMove2 {
        0% {
            opacity: 0;
            top: 150px;
        }

        20% {
            opacity: 0;
            top: 150px;
        }

        60% {
            opacity: 1;
            top: 0;
        }
    }

    @keyframes advantageContainerMove3 {
        0% {
            opacity: 0;
            top: 150px;
        }

        40% {
            opacity: 0;
            top: 150px;
        }

        80% {
            opacity: 1;
            top: 0;
        }
    }

    @keyframes advantageContainerMove4 {
        0% {
            opacity: 0;
            top: 150px;
        }

        60% {
            opacity: 0;
            top: 150px;
        }

        100% {
            opacity: 1;
            top: 0;
        }
    }

    /* появление кейсов */
    @keyframes showCases {
        0% {
            opacity: 0;
            top: 100px;
        }

        50% {
            opacity: 0;
            top: 100px;
        }

        100% {
            opacity: 1;
            top: 0;
        }
    }

    /* появление текста и навыков */
    @keyframes aboutMySkillsMove {
        0% {
            opacity: 0;
            left: 100px;
            top: 200px;
        }

        100% {
            opacity: 1;
            left: 0;
            top: 0;
        }
    }

    @keyframes aboutMeMove {
        0% {
            opacity: 0;
            left: -100px;
            top: 200px;
        }

        100% {
            opacity: 1;
            left: 0;
            top: 0;
        }
    }

}

/* заполнение шкалы навыков */
/* HTML */

.skillHtmlScale {
    width: 70%;
    -webkit-animation: skillHtmlScaleMove 2.5s;
    -o-animation: skillHtmlScaleMove 2.5s;
    animation: skillHtmlScaleMove 2.5s;
}

@keyframes skillHtmlScaleMove {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    80% {
        width: 70%;
    }
}

/* CSS */
.skillCssScale {
    width: 70%;
    -webkit-animation: skillCssScaleMove 2.5s;
    -o-animation: skillCssScaleMove 2.5s;
    animation: skillCssScaleMove 2.5s;
}

@keyframes skillCssScaleMove {
    0% {
        width: 0;
    }

    52% {
        width: 0;
    }

    82% {
        width: 70%;
    }
}

/* JS */
.skillJsScale {
    width: 60%;
    -webkit-animation: skillJsScaleMove 2.5s;
    -o-animation: skillJsScaleMove 2.5s;
    animation: skillJsScaleMove 2.5s;
}

@keyframes skillJsScaleMove {
    0% {
        width: 0;
    }

    54% {
        width: 0;
    }

    84% {
        width: 60%;
    }
}

/* Design */
.skillDesignScale {
    width: 50%;
    -webkit-animation: skillDesignScaleMove2.5s;
    -o-animation: skillDesignScaleMove 2.5s;
    animation: skillDesignScaleMove 2.5s;
}
@keyframes skillDesignScaleMove {
    0% {
        width: 0;
    }

    56% {
        width: 0;
    }

    86% {
        width: 50%;
    }
}

/* Photoshop */
.skillPhotoshopScale {
    width: 40%;
    -webkit-animation: skillPhotoshopScaleMove 2.5s;
    -o-animation: skillPhotoshopScaleMove 2.5s;
    animation: skillPhotoshopScaleMove 2.5s;
}
@keyframes skillPhotoshopScaleMove {
    0% {
        width: 0;
    }

    58% {
        width: 0;
    }

    88% {
        width: 40%;
    }
}